<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="computed_props">
			千米：<input type="text" v-model="kilometers">
			米：<input type="text" v-model="meters">
		</div>
		<div id="info"></div>
		<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#computed_props',
				data:{
					kilometers:0,
					meters:0
				},
				method:{
					
				},
				computed:{
					
					
				},
				watch:{
					kilometers:function (val){
						this.kilometers=val;
						this.meters = this.kilometers * 1000;
					},
					meters:function(val){
						this.meters = val;
						this.kilometers = val/1000; 
					}
				}
			});
			// $watch 是一个实例方法
			vm.$watch('kilometers',function(newValue,oldValue){
				// 这个回调将在vm.kilometer改变后调用
				document.getElementById("info").innerHTML = '修改前的值为' + oldValue +',修改后的值为：' +newValue
			})
		</script>
	</body>
</html>
